<div class="grid">
  <div
    class="col-12 accordion"
    *ngIf="mainComponent.transferT.multiTransfer.transfers"
  >
    <h4>Bénéficiaires</h4>
    <div class="card px-6 py-6">
      <p-table
        #dt
        [columns]="cols"
        responsiveLayout="scroll"
        [rows]="10"
        [rowHover]="true"
        dataKey="id"
        [value]="mainComponent.transferT.multiTransfer.transfers"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th [pSortableColumn]="col.field" *ngFor="let col of columns">
              {{ col.header }}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-beneficiaire>
          <tr>
            <td>{{ fullName(beneficiaire) }}</td>
            <td>{{ beneficiaire.receiver_phnumber }}</td>
            <td>{{ beneficiaire.transfer_amount }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<app-add-beneficiary-debit [id_client]="id_client"></app-add-beneficiary-debit>
