<app-beneficiaries-list-debit
  [id_client]="id_client"
></app-beneficiaries-list-debit>
<div class="col-12">
  <div class="card">
    <form (ngSubmit)="submit()" [formGroup]="transfer">
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
          <label for="creation_date">Date de création</label>
          <input
            type="text"
            name="creation_date"
            id="creation_date"
            class="form-control"
            autocomplete="off"
            readonly
            pInputText
          />
        </div>
        <div class="field col-12 md:col-6">
          <label for="motif">Motif</label>
          <p-dropdown
            [options]="motifs"
            optionLabel="name"
            optionValue="name"
            [showClear]="true"
            placeholder="motif"
            formControlName="motif"
          ></p-dropdown>
        </div>
        <div class="field col-6">
          <label for="motif">Type des frais</label>
          <p-dropdown
            [options]="frais"
            optionLabel="name"
            optionValue="value"
            [showClear]="true"
            placeholder="Frais"
            formControlName="frais"
          ></p-dropdown>
        </div>
        <div class="field col-12 md:col-6">
          <label for="motif" class="form-check-label"
            >Notifier les bénéficiaires</label
          >
          <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
        </div>
        <div class="field col-12 md:col-6">
          <label for="motif" class="form-check-label"
            >Montant du transfert</label
          >
          <input
            type="text"
            name="montTrans"
            class="form-control"
            value="{{ transferT.multiTransfer.total_amount }} DH"
            placeholder="0 DH"
            readonly
            pInputText
          />
        </div>
        <div class="field col-12 md:col-6">
          <label for="motif" class="form-check-label">Frais (5%)</label>
          <input
            type="text"
            name="frais"
            class="form-control"
            value="{{ transferT.multiTransfer.total_expense_amount }} DH"
            placeholder="0 DH"
            readonly
            pInputText
          />
        </div>
        <div class="field col-12 md:col-6">
          <label for="motif" class="form-check-label"
            >Frais de notification (2.5%)</label
          >
          <input
            type="text"
            name="frais"
            class="form-control"
            value="{{ notifyFrais() }} DH"
            placeholder="0 DH"
            readonly
            pInputText
          />
        </div>
        <div class="field col-12 md:col-6">
          <label for="motif" class="form-check-label">Montant total</label>
          <input
            type="text"
            name="montTot"
            class="form-control"
            value="{{ montantTotal() }} DH"
            placeholder="0 DH"
            readonly
            pInputText
          />
        </div>
        <div
          class="form-group"
          style="display: flex; justify-content: flex-end; margin-top: 15px"
        >
          <button id="retour" (click)="retour()">Retour</button>
          <button type="submit" id="transfer">Transférer</button>
        </div>
      </div>
      <div id="error_holder" *ngIf="error != ''">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        <p>
          {{ error }}
        </p>
      </div>
    </form>
  </div>
</div>
