<form>
  <div class="row">
    <p
      *ngIf="errorAction != ''"
      class="error"
      [ngClass]="{ set: invalidAction() }"
    >
      {{ errorAction }}
    </p>

    <label for="motif">Motif</label>
    <textarea
      class="form-control"
      name="motif"
      placeholder="Motif *"
      rows="8"
      [(ngModel)]="motif"
      [ngClass]="{ 'is-invalid': invalidAction() }"
      autocomplete="off"
    ></textarea>
  </div>
  <div class="form-group" style="display: flex; justify-content: center">
    <input
      type="submit"
      value="Bloquer"
      id="extourner"
      data-toggle="modal"
      data-target="#bloquer-modal"
      (click)="onSubmit()"
    />
  </div>
</form>
