.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    padding: 30px;
    border: 1px solid #ffffff40;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
  }
  .image{
    position: relative;
    height: 100px;
    width: 100px;
  }
  .image .profile-pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
  }
  span{
    font-size: 18px;
  }
  .buttons{
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  .buttons .btn{
    text-decoration: none;
    margin: 0 20px;
    border-radius: 10px;
    white-space: nowrap;
  }