<div class="grid">
    <div class="col-12">
      <div class="card px-12 py-6">
          <div class="">
          <h2>Le Transfert National</h2>
          <img src="assets/image/{{layoutService.config().colorScheme === 'light' ? 'logo2' : 'logo1'}}.png" width="200px" alt="logo">
          <p>
            Le transfert national est une opération par laquelle un donneur
            d’ordre demande la mise à disposition de fonds dans un autre point de
            vente pour un bénéficiaire ou dans les GAB BOA pour lui-même...
          </p>
  
          <h3>Fonctionnalités :</h3>
          <ul>
            <li>L'émission d'un transfert national</li>
            <li>Servir un transfert émis</li>
            <li>
              L'extourne d'un transfert national (en cas d'erreur de point de
              vente)
            </li>
            <li>
              La restitution d'un transfert national (Demande de
              client/bénéficiaire soupçon ou blacklisté)
            </li>
            <li>
              Le blocage d'un transfert national (en Back Office ou Automatique)
            </li>
            <li>Mettre en déshérence un transfert national (Automatique)</li>
            <li>Le déblocage d'un transfert national</li>
            <li>
              Notification de l'émetteur et le bénéficiaire du transfert national
            </li>
          </ul>
  
          <p>
            L'émission d'un transfert national peut être initiée à partir du canal
            Agence et Wallet. Cependant, le service d'émission du transfert
            précise le canal utilisé pour servir le montant du transfert...
          </p>
      </div>
  </div>
    </div>
  </div>
  