<div class="grid">
  <p-toast></p-toast>
  <div class="col-12">
    <div class="card px-6 py-6" *ngIf="!ishide">
      <form class="mt-3" novalidate [formGroup]="kycForm">
        <p
          *ngIf="errorAction != ''"
          class="error"
          [ngClass]="{ set: invalidAction() }"
        >
          {{ errorAction }}
        </p>
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-12">
            <label *ngFor="let title of titles" for="{{ title?.name }}">
              {{ title?.name }}
              <input
                type="radio"
                ng-model="my.favorite"
                value="{{ title?.name }}"
                id="{{ title?.name }}"
                formControlName="title"
                name="title"
              />
            </label>
          </div>
          <div class="field col-12 md:col-6">
            <label>Nom *</label>
            <input
              type="text"
              class="form-control"
              placeholder="Nom"
              aria-label="Nom"
              pInputText
              formControlName="firstName"
            />
          </div>
          <div class="field col-6">
            <label>Prénom *</label>
            <input
              type="text"
              class="form-control"
              placeholder="Prénom"
              aria-label="Prénom"
              formControlName="lastName"
              pInputText
            />
          </div>
          <div class="field col-12 md:col-3">
            <label>Date de naissance *</label>
            <input
              type="date"
              class="form-control"
              [ngClass]="{ 'is-invalid': invalidbirthday() }"
              placeholder="Date de naissance"
              id="birthday"
              formControlName="birthday"
              autocomplete="off"
              pInputText
            />
            <p class="errorS" [ngClass]="{ set: invalidbirthday() }">
              {{ errorbirthday }}
            </p>
          </div>
          <div class="field col-12 md:col-3">
            <label>Téléphone *</label>
            <input
              type="tel"
              class="form-control"
              placeholder="Téléphone"
              formControlName="phoneNumber"
              autocomplete="off"
              pInputText
            />
          </div>
          <div class="field col-12 md:col-6">
            <label>Email *</label>
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              formControlName="email"
              [ngClass]="{ 'is-invalid': invalidEmail() }"
              autocomplete="off"
              pInputText
            />
            <p class="errorS" [ngClass]="{ set: invalidEmail() }">
              {{ errorEmail }}
            </p>
          </div>
          <div class="field col-12 md:col-6">
            <label>Pièce d'identité *</label>
            <p-dropdown
              formControlName="type_idcard"
              (onChange)="set_id_type($event)"
              [options]="type_idcards"
              optionLabel="name"
              optionValue="name"
              [showClear]="true"
              placeholder="Sélectionner Type de pièce d'identité"
            ></p-dropdown>
          </div>
          <div class="field col-12 md:col-6">
            <label>Identité *</label>
            <input
              type="text"
              class="form-control"
              placeholder="identité"
              formControlName="idCard"
              [readonly]="!set_type_idcard"
              autocomplete="off"
              pInputText
            />
          </div>
          <div class="field col-12 md:col-3">
            <label>Pays *</label>
            <input
              type="text"
              class="form-control"
              id="inputcity"
              formControlName="country"
              value="Maroc"
              readonly
              pInputText
            />
          </div>
          <div class="field col-12 md:col-3">
            <label>Adresse *</label>
            <input
              type="text"
              class="form-control"
              placeholder="Adresse"
              formControlName="address"
              autocomplete="off"
              pInputText
            />
          </div>
          <div class="field col-12 md:col-3">
            <label>Ville *</label>
            <p-dropdown
              formControlName="city"
              [options]="cities"
              optionLabel="name"
              optionValue="name"
              [showClear]="true"
              placeholder="Sélectionner la ville"
            ></p-dropdown>
          </div>
          <div class="field col-12 md:col-3">
            <label>Code Postal *</label>
            <input
              type="number"
              class="form-control"
              placeholder="code postal"
              formControlName="zipcode"
              autocomplete="off"
              pInputText
            />
          </div>
          <div class="field col-12 md:col-12">
            <p-checkbox
              [binary]="true"
              inputId="binary"
              [required]="true"
              formControlName="Validity_of_IDCard"
            ></p-checkbox>
            <label
              class="form-check-label"
              style="margin: 2px"
              for="Validity_of_IDCard"
            >
              Validité pièce d’identité *
            </label>
          </div>
          <div class="buttons_bottom">
            <button
              (click)="reset()"
              type="button"
              class="btn p-button-danger m-1"
              pButton
            >
              Réinitialiser
            </button>
            <button
              (click)="submit()"
              type="button"
              class="btn p-button-success m-1"
              pButton
            >
              Ajouter
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-6" *ngIf="ishide && valid_infos">
    <div class="card px-6 py-6">
      <app-kyc-table [user]="user"></app-kyc-table>

      <div>
        <button
          pButton
          pRipple
          type="submit"
          class="btn btn-primary"
          style="margin-right: 4px"
          (click)="valide()"
        >
          Valider
        </button>
        <button
          pButton
          class="btn p-button-danger"
          style="margin-right: 4px"
          (click)="annuler()"
        >
          Annuler
        </button>
      </div>
    </div>
  </div>
</div>
